@model IEnumerable<Holiday>

@{
    ViewData["Title"] = "Your requests";
}

<h1>Your requests</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>         
            <th>
                Type
            </th>
            <th>
                Description
            </th>
            <th>
                Brand
            </th>
            <th>
                Model
            </th>
            <th>
                Year
            </th>
            <th>
                Passenger seats
            </th>
            <th>
                Price/day
            </th>
            <th>
                Start date
            </th>
            <th>
                End date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var request in Model) {
        <tr>      
            <td>
                    @request.Type
            </td>
            <td>
                    @request.PatientNote
            </td>
                <td>
                    @request.Brand
                </td>
                <td>
                    @request.Model
                </td>
                <td>
                    @request.Year
                </td>
                <td>
                    @request.Passengerseats
                </td>
                <td>
                    @request.Priceday
                </td>
                <td>
                    @request.StartDate
                </td>
                <td>
                    @request.EndDate
                </td>
            <td>

                    <a asp-action="Details" asp-route-id="@request.Id" class="text-info">Details</a> 
                    @if (!request.IsApproved)
                    {
                        <span>|</span>
                        <a asp-action="Edit" asp-route-id="@request.Id" class="text-warning">Edit</a>
                        <form asp-action="Delete" asp-route-id="@request.Id" class="delete-button"> |
                            <input class="text-danger" type="submit" value="Delete"/>
                        </form>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
